body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4e1d2;
}

header {
    padding: 20px;
    background-color: #844caf;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #e67e22;
    color: white;
    border: none;
    cursor: pointer;
}